@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--color: white;
--custom-color: red;
--padding: 14px;
--input-padding: 10px 25px;
--medium-font-size: 1.2em;
--big-font-size: 2.5em;
--margin-top: 20px;
--margin-bottom: 20px;
--border-radius: 8px;

}

body {
font-size: 14px;
font-family: font-family: 'Montserrat', sans-serif;
}

.btn-submit {
    background-color: blue;
    border-radius: var(--border-radius);
    color: var(--color);
    cursor: pointer;
    padding: var(--padding);
    font-size: var(--medium-font-size);
}
.container {
    width: 1200px;
    max-width: 100%;
    min-height: 500px;
    margin: 30px auto;
    
}

input {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
}

input:focus {
    outline-color: blue;
}

input::placeholder {
    font-size: 12px;
}
.form {
    width: 60%;
    margin: 0 auto;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
}

.form_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid green;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
}

.form_group_label {
    color: var(--custom-color);
    font-size: var(--medium-font-size);
}

select {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
}